body {
    background-color: #f0f0f0;
}

h1 {
    color: blue;
    text-align: center;
}

p {
    padding: 10px;
    margin: 20px;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline-block;
    margin-right: 15px;
}

.gallery-grid {
    display: grid;
}
